<section id="about" class="story-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="story-image">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/about-img1.jpg" alt="image">
                            <img src="assets/img/about-img2.jpg" alt="image">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/about-img3.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="story-content">
                    <div class="section-title">
                        <span>Our Story</span>
                        <h2>Welcome To Labor Cafe</h2>
                    </div>
                    <p>Cookie cutter coffee shops kill creativity. Enamored by the cozy vibey cafes of Europe and disenchanted with current coworking scene, we bring you the first vegan coworking coffee shop in the US. Sit back, pull out your laptop and get work done surrounded by other creators.</p>
                    <p>Take advantage of our coworking facilities, faultless wifi, and plentiful outlets. Connect and exchange skills with like minded freelancers, record your podcast, hold a meeting in a relaxed yet inspirational space, join our weekly networking breakfast. No membership, no contracts, no hustle. We're just your new favorite coffee shop. With benefits.</p>
                    <p>Fuel your body with non-pretentious LA-roasted coffee, invigorating smoothies and plant based wholesome snacks. Fuel your mind with our meditation workshops and thought provoking movie nights. We exist to help get your creative juices flowing and we take a holistic approach. Mens sana in corpore sano.</p>

                    <!--<div class="story-quote">
                        <div class="quote-content">
                            <p>"Mauris tempor libero fringilla orci vivrra faucibue fringilla orci vivrra faucibus. Integer ullamcorper erat in tellus efficitur, quis porta sapien tincidunt. Nunc mattis lectus sed semper semper."</p>
                        </div>
                        <!--<div class="quote-info">
                            <img src="assets/img/story-1.jpg" alt="story">
                            <h3>John Smith</h3>
                            <span>Master Chef</span>
                        </div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!--<div id="particles-js-circle-bubble-1"></div>-->
    <div class="line-bg"><img src="assets/img/line.png" alt="line"></div>
</section>
