<section id="gallery" class="gallery-area ptb-100 pb-0">
    <div class="container">
        <div class="section-title">
            <span>Gallery</span>
            <h2>See Our Gallery</h2>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img1.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img1.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Salad</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img2.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img2.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Sandwich</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img3.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img3.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Bread</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img4.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img4.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Steak</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img5.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img5.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Tuna Steak</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img6.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img6.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Fish</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img7.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img7.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Rice</a></h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="single-image">
                <img src="assets/img/gallery-img8.jpg" alt="gallery-img">
                <a href="assets/img/gallery-img8.jpg" data-effect="zoomInLeft" class="popup-btn"><i class="icofont-search-restaurant"></i></a>

                <div class="image-content">
                    <h3><a href="#">Spaghetti</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>