<app-header-one></app-header-one>

<div id="home" class="main-banner video-banner">
    <video loop muted autoplay poster="#" class="video-background">
        <source src="assets/video/video.mp4" type="video/mp4">
    </video>
    
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content">
                    <h1>Spicy & Tasty</h1>
                    <h3>American Delicious Food</h3>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#reservationModal">Book Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="down_arrow">
        <a href="#about" class="scroll_down"></a>
    </div>
</div>

<app-about></app-about>

<app-offer></app-offer>

<app-stunning-things></app-stunning-things>

<app-video></app-video>

<section id="menu" class="menu-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Discover</span>
            <h2>Our Special Menu</h2>
        </div>

        <div class="tab">
            <ul class="tabs">
                <li><a href="#">
                    <i class="icofont-bell-pepper-capsicum"></i>
                    <br>
                    Starter
                </a></li>

                <li><a href="#">
                    <i class="icofont-lunch"></i>
                    <br>
                    Lunch
                </a></li>

                <li><a href="#">
                    <i class="icofont-pizza"></i>
                    <br>
                    Dinner
                </a></li>

                <li><a href="#">
                    <i class="icofont-cup-cake"></i>
                    <br>
                    Dessert
                </a></li>

                <li><a href="#">
                    <i class="icofont-juice"></i>
                    <br>
                    Alcoholic
                </a></li>

                <li><a href="#">
                    <i class="icofont-soft-drinks"></i>
                    <br>
                    Drinks
                </a></li>
            </ul>

            <div class="tab_content">
                <div class="tabs_item tab-item-bg-one">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img1.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Ham Salad <span class="menu-price">$20.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img2.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Fresh Cappuccino <span class="menu-price">$24.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Honey Cake <span class="menu-price">$30.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img4.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Delicious Dish <span class="menu-price">$25.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item tab-item-bg-two">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img1.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Ham Salad <span class="menu-price">$20.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img2.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Fresh Cappuccino <span class="menu-price">$24.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Honey Cake <span class="menu-price">$30.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img4.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Delicious Dish <span class="menu-price">$25.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item tab-item-bg-three">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img1.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Ham Salad <span class="menu-price">$20.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img2.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Fresh Cappuccino <span class="menu-price">$24.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Honey Cake <span class="menu-price">$30.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img4.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Delicious Dish <span class="menu-price">$25.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item tab-item-bg-four">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img1.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Ham Salad <span class="menu-price">$20.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img2.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Fresh Cappuccino <span class="menu-price">$24.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Honey Cake <span class="menu-price">$30.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img4.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Delicious Dish <span class="menu-price">$25.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item tab-item-bg-five">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img1.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Ham Salad <span class="menu-price">$20.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img2.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Fresh Cappuccino <span class="menu-price">$24.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Honey Cake <span class="menu-price">$30.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img4.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Delicious Dish <span class="menu-price">$25.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item tab-item-bg-six">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img1.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Ham Salad <span class="menu-price">$20.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img2.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Fresh Cappuccino <span class="menu-price">$24.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Honey Cake <span class="menu-price">$30.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img4.jpg" alt="food-img">
                                </div>

                                <div class="food-menu-content">
                                    <h3>Delicious Dish <span class="menu-price">$25.00</span></h3>
                                    <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line-bg"><img src="assets/img/line.png" alt="line"></div>
</section>

<app-book-table></app-book-table>

<app-chefs></app-chefs>

<app-cta></app-cta>

<app-gallery></app-gallery>

<app-features></app-features>

<app-feedback></app-feedback>

<section id="blog" class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>From Our Blog</span>
            <h2>Latest News</h2>
        </div>

        <div class="blog-slides owl-carousel owl-theme">
            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img1.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">The 10 Essential Los Angeles Restaurants, 2020</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img2.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">16 Hottest Restaurants in LA Right Now, 2020</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img3.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">Friday Fun Food Facts – March 6, 2020</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img4.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">Inside Hollywood’s Sprawling New Coffee</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img5.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">Brand New Eateries to Check Out in Los Angeles</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-partner></app-partner>

<app-contact></app-contact>

<app-instagram></app-instagram>