<app-header-three></app-header-three>

<div id="home" class="main-banner item-bg-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content">
                    <h1>COFFEE FOR THE PEOPLE</h1>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#reservationModal">Book Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="down_arrow">
        <a href="#about" class="scroll_down"></a>
    </div>
</div>

<app-about></app-about>

<app-offer></app-offer>

<app-stunning-things></app-stunning-things>

<!--<app-video></app-video>-->

<section id="menu" class="menu-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Discover</span>
            <h2>Our Menu</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="laureel-food-menu">
                    <h3>Breakfast</h3>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Mussels Salad <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Sandwich Soup <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Bread <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="laureel-food-menu">
                    <h3>Lunch</h3>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Steak <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Tuna Steak <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Fish <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="laureel-food-menu">
                    <h3>Dinner</h3>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Rice <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Spaghetti <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Western Sunrise <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="laureel-food-menu">
                    <h3>Dessert</h3>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Cake <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Pizza <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Burgur <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="laureel-food-menu">
                    <h3>Wine Card</h3>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Western Sunrise <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Bread <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Steak <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="laureel-food-menu">
                    <h3>Drinks</h3>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Water <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Milk <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>

                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>

                        <div class="menu-content">
                            <h4>Beer <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="line-bg"><img src="assets/img/line.png" alt="line"></div>-->
</section>

<!--<app-book-table></app-book-table>-->

<!--<app-chefs></app-chefs>-->

<app-features></app-features>

<app-cta></app-cta>

<app-gallery></app-gallery>

<!--<app-feedback></app-feedback>-->

<section id="blog" class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>From Our Blog</span>
            <h2>Latest News</h2>
        </div>

        <div class="blog-slides owl-carousel owl-theme">
            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img1.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">The 10 Essential Los Angeles Restaurants, 2020</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img2.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">16 Hottest Restaurants in LA Right Now, 2020</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img3.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">Friday Fun Food Facts – March 6, 2020</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img4.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">Inside Hollywood’s Sprawling New Coffee</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>

            <div class="single-blog-post">
                <a routerLink="/blog-details" class="post-image"><img src="assets/img/blog-img5.jpg" alt="blog-image"></a>

                <div class="blog-post-content">
                    <ul>
                        <li><i class="icofont-ui-user"></i> <a href="#">Admin</a></li>
                        <li><i class="icofont-wall-clock"></i> January 16, 2020</li>
                    </ul>
                    <h3><a routerLink="/blog-details">Brand New Eateries to Check Out in Los Angeles</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                    <a routerLink="/blog-details" class="read-more-btn">Read More <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<app-partner></app-partner>-->

<app-contact></app-contact>

<app-instagram></app-instagram>
