<header class="top-area">
    <div class="top-bar template-color-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="call-to-action">
                        <p><i class="icofont-envelope"></i> Email: <a href="mailto:hello@fryio.com">hello@fryio.com</a></p>
                        <p><i class="icofont-phone"></i> Phone: <a href="tel:+00086525124">+0 008 652 5124</a></p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul class="top-social">
                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-dribbble"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-behance"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-rss-feed"></i></a></li>
                    </ul>

                    <div class="opening-hours">
                        <p><i class="icofont-wall-clock"></i> Opening Hours : 8:00am - 11:30pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light transparent-navbar">
        <div class="container">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/white-logo.png" alt="white-logo"></a>
            <a class="navbar-brand black-logo" routerLink="/"><img src="assets/img/black-logo.png" alt="black-logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#offer">Offer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#menu">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#chefs">Chefs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>