<section class="cta-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <span>Join Our Community</span>
                <h2>Description text for our newsletter signup</h2>
            </div>

            <!--<div class="col-lg-3 col-md-12 text-right">
                <a href="#contact" class="btn btn-primary">Contact Us</a>
            </div>-->

            <div class="col-lg-4 col-md-12 text-right">
                <div class="contact-box">
                    <form class="newsletter-form">
                        <input type="text" class="form-control" placeholder="Your email.." name="EMAIL" required>
                        <button type="submit" class="btn btn-primary"><i class="icofont-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
